#body{
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    margin-top: 200px

}
#body>#child1{
    height: 500px;
    width: 70%;
}
#body>#child2{
    height: 500px;
    width: 28%;
    
}
#body>#child1>h3{
    margin: 30px 0px 20px 20px;
    font-size: 20px;
    color: orange;
    font-weight: bold ;
}
#body>#child1>form{
    margin-top: 40px;
    margin-left: 20px;
}
#body>#child1>form>input{
    height: 30px;
    width: 90%;
    margin-bottom: 20px;
}
#body>#child1>form>input[type="submit"]{
    height: 35px;
    width: 91%;
    background-color: orange;
    color: white;
    border: none;
}
#body>#child1>p{
    text-align: center;
}
#body>#child1>a{
    margin-left: 40%;
    
}
#cart-details{
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid grey;
    height: 320px;
}
#cart-details>h3{
    text-align: center;
}
#cart-details>h4{
    margin-left: 10px;
}
#cart-details>button{
margin-left: 20px;
height: 30px;
width: 90%;
background-color: white;
border:1px solid  orange;
color: orange;
}
#child2>#text{
    text-align: center;
    margin-top: 20%;
    color: #546E7A;
}